.app {
  text-align: center;
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appHeader {
  font-size: 100px;
  color: #e7d0d0;
}

h1.appHeader {
  font-weight: 100;
}