.root {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.header {
  color: #e7d0d0;
  font-size: 100px;
  padding: 10px;
}

h1.header {
  font-weight: 100;
  margin: 0;
}

.content {
  padding-bottom: 50px;
}